<!-- saying which file we're extending -->
{% extends 'layout.html' %}

{% block content %}
<br>
<h1 class="display-3 green-text">Welcome!</h1>
<br>
<br>
<div class="row">
    <div class="col-md-8 blog-main">
        <div class="blog-post">
            <div class="jumbotron jumbotron-background content-section text-white pt-5 pb-5 pr-5 pl-5">
                <div class="media-body">
                    <h1 class="text-center about-me">About Me</h1>
                    <p class="about-me-blurb">I'm currently looking for my next career opportunity as a software
                        engineer.<br> I have
                        a Bachelor's degree in
                        Computer Science from Wichita State University.<br> I am interested in any kind of programming
                        work that allows me to continue learning and growing:
                        front end, back end, full stack, non web-development work, et cetera. I embrace challenging
                        problems and search for innovative solutions.
                        I currently live in Wichita, Kansas, but I am interested in relocating to the right
                        place for the right job. I am also open to working 100% remotely as I have done for the past
                        year.
                        Currently,
                        the locations I am considering are the Seattle, Portland, and Denver metro areas. I look forward
                        to hearing from you if you have a position I would be a good fit for.
                    </p>
                    <p> -Dakota Erickson</p>
                </div>
            </div>
        </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-2 bg-light rounded city-box text-white">
            <div>
                <h4 class="city-name">Seattle</h4>
            </div>
            <p class="mb-0"> I've always been interested in living around Seattle. I think I would enjoy the environment and the flourishing tech industry is an added bonus.</p>
        </div>
        <div class="p-4 mb-2 rounded city-box text-white">
            <div>
                <h4 class="city-name">Portland</h4>
            </div>
            <p class="mb-0">Portland is another city I'd be interested in relocating to. The environment is similarly appealing like Seattle, but Portland seems to have a more laid back attitude that's definitely appealing.</p>
        </div>
        <div class="p-4 mb-2 rounded city-box text-white">
            <div>
                <h4 class="city-name">Denver</h4>
            </div>
            <p class="mb-0">While I was growing up I always wanted to move to Denver. It's where my father is from so I've spent a lot of time there and I know I would love living there. Go Broncos.</p>
        </div>
    </aside><!-- /.blog-sidebar -->

</div>

{% endblock content %}
