{% extends 'layout.html' %}

{% block content %}
<div class="text-white lead">
    {% for post in posts.items %}
    <article class="media content-section jumbotron-background">
        <img class="rounded-circle article-image" src="{{ url_for('static', filename='profilePics/' + post.author.imageFile) }}">
      <div class="media-body ml-3 mr-3">
        <div class="article-metadata">
          <a class="mr-2 text-white"  href="#">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.datePosted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class ="article-title" href="{{ url_for('post', postId=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
{% for pageNum in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if pageNum %}
      {% if posts.page == pageNum %}
        <a class="btn btn-light mb-4" href="{{ url_for('posts', page=pageNum) }}">{{ pageNum }}</a>
      {% else %}
        <a class="btn btn-outline-light mb-4" href="{{ url_for('posts', page=pageNum) }}">{{ pageNum }}</a>
      {% endif %}
    {% else %}  
      ...
    {% endif %}
{% endfor %}
</div>
{% endblock content %}