.body {
  background-color: #19181a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-blurb {
  font-size: 1.1rem;
}

.form-background {
  background-color: #343a40;
}

.city-box {
  background-color: #94b9af !important;

}

.city-name {
  color: black !important;
}

.jumbotron-background {
  background-color: #343a40;
}

.about-me {
  color: white;
}

.resume-rule {
  border: 2px solid #94b9af;
  border-radius: 5px;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #94b9af;
  text-decoration: none;
}

.article-title {
  color: white;
}

.article-title a:hover {
  color: #94b9af !important;
  text-decoration: none !important;
}