.body {
  background-color: #19181a;

}

.city-box {
  background-color:#94b9af !important;
}

.city-name {
  color: black !important;
}

.jumbotron-background {
  background-color: #E7EFC5;
}

.resume-rule {
  border: 2px solid white;
  border-radius: 5px;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
